.navbar {
    position: absolute;
    margin-top: -200px;
}

#buttonLogout {
    left: 365px;
    position: relative;
}

.example::-webkit-scrollbar {
    display: none;
}

.tableTask {
    max-height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.taskAddHolder {
    position: fixed;
}

.tableTask table {
    max-width: 500px;
    width: 500px;
    border: 1px solid;
}

.tableTask tr {
    border: 1px solid;
    padding: 5px;
}
.tableTask th {
    border: 1px solid;
    padding: 5px;
}
.tableTask td {
    border: 1px solid;
    padding: 5px;
}

#addTaskText {
    margin-top: 50px;
}

#inputTitle {
    max-width: 200px;
    background: none;
    color: white;
}

#inputTask {
    max-width: 300px;
    margin-top: -38px;
    margin-left: 200px;
    background: none;
    color: white;
}

#saveTaskButton {
    margin-top: 20px;
}

#titleTable {
    width: 200px;;
}
#closeTaskButton {
    float: right;
    height: 25px;
    width: 25px;
    font-size: 20px;
}

#closeTaskButton p {
    margin-left: -4.5px;
    margin-top: -13px;
}